@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700&subset=devanagari,latin-ext');

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.menu-holder {
  visibility: hidden;
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: black;
  z-index: 4;
  padding: 30px;
}

.menu-holder li {
  margin-bottom: 30px;
}

.menu-holder a {
  font-size: 1rem;
}

.mobile-header {
  display: none;
}

.symbol {
  height: 50px;
  width: 50px;
}

.parallax-holder {
  position: absolute;
  padding-top: 100px;
  border: 30px solid white;
  width: 100%;
  z-index: 1;
}

.background-one {
  width: 100%;
  height: 100vh;
  background: url("../Chicken.jpeg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.main-container {
  overflow-x: hidden;
  position: relative;
  padding: 20px 30px 20px 30px;
  width: 100%;
  background-color: rgba(255,255,255,0);
  z-index: 2;
}

.main-container header {
  padding: 40px 50px 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.primary-title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 6px;
}

.desktop-menu ul {
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.desktop-menu a {
  color: black;
}

.desktop-menu li{
  display: inline-block;
  margin-left: 10px;
}

.art-title-container {
  width: 100%;
  height: calc(100vh - 150px);
  font-size: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0);
}

.art-title-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-spacer {
  width: 100%;
  height: 30px;
  background: white;
}

section {
  width: 100%;
  background-color: rgba(255,255,255,1);
}

section:before,
section:after {
    content : "";
    display : block;
}
section:after {
    clear : both;
}

.section-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 6px;
  padding-top: 40px;
}

.about {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: red;
  background: url("../profilepic.JPG") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-info {
  padding-top: 40px;
}

a {
  cursor: pointer;
}

.about-resume {
  width: 100px;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: black;
  border: none;
  position: relative;
  cursor: pointer;
}

.about-resume:hover {
  bottom: 1px;
  right: 1px;
  background-color: #4CAF50;
}

.about-resume:focus {
  outline: none;
  background-color: #4CAF50;
}

.about-social {
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:auto;
}

.social-icon a{
  display: block;
  height: 30px;
  width: 30px;
  fill: black;
}

.social-icon a:hover {
  fill: #4CAF50;
}

.experience-icons {
  width: 720px;
  margin: auto;
}

.icon-holder {
  position: relative;
  height: 150px;
  width: 150px;
  text-align: center;
  float: left;
  margin: 45px;
}

.icon-holder img {
  height: 80%;
}

.mssql svg {
  width: 80%;
  height: auto;
}

.icon-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 4px;
}

.projects-holder {
  width: 720px;
  margin: auto;
}

.project {
  position: relative;
  padding: 5px;
  width: 315px;
  height: 315px;
  margin: 22.5px;
  border: 1px solid black;
  float: left;
}

.project-img {
  width: 100%;
}

.project-img img {
  width: 100%;
}

.project-about {
  padding-top: 5px;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}

.project-links {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 6px;
  right: 0;
}

.project button {
  width: 45%;
  background-color: black;
  border: none;
}

.project a {
  font-size: 1.5rem;
}

.project button:hover {
  bottom: 1px;
  right: 1px;
  background-color: #4CAF50;
}

.project button:focus {
  outline: none;
  background-color: #4CAF50;
}

.line-holder {
  background-color: white;
  position: relative;
  height: 9px;
  clear: both;
}

.left-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 1px;
  background-color: black;
}

.center-line {
  position: absolute;
  left: 0;
  top: 5px;
  width: 50%;
  height: 1px;
  background-color: black;
}

.right-line {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 1px;
  background-color: black;
}

footer {
  margin-top: 50px;
  padding: 20px;
  clear: both;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  font-weight: 300;
  z-index: 3;
}

.attribution {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltiptext {
    visibility: hidden;
    text-align: left;
    border: 1px solid white;
    background-color: black;
    display: inline-block;
    padding: 5px;
    font-size: .7rem;
    /*padding: 5px 0;*/

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 5%;
}

.attribution:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 769px) {
  .mobile-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .menu-button-holder {
    width: 25%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-primary-title {
    width: 75%;
    height: auto;
    padding-top: 30px;
    margin: auto;
  }

  .menu-button {
    margin: auto;
  }

  .menu-button svg {
    height: 50px;
    width: 50px;
  }

  .parallax-holder {
    padding-top: 0;
  }

  .about-resume {
    width:auto;
  }

  .main-container header {
    display: none;
  }

  .experience-icons {
    width: 480px;
  }

  .projects-holder {
    width: 480px;
  }

}

@media (max-width: 481px) {
  .main-container header {
    display: none;
  }

  .mobile-primary-title {
    font-size: 1rem;
  }

  .experience-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-holder {
    float: none;
  }

  .projects-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .project {
    float: none;
  }

}
